.custom-nav {
  background-color: #E4FFFC;
}

h2 {
  color: #05475C;
}

.custom-color {
  background-color: white;
  /* Définit la couleur de fond initiale */
  color: black !important;
  /* Définit la couleur de texte initiale */
}

.custom-color2 {
  background-color: #05475C;
  /* Définit la couleur de fond initiale */
  color: white !important;
  /* Définit la couleur de texte initiale */
}

.custom-color2:hover {
  background-color: #05475C;
  /* Définit la couleur de fond initiale */
  color: white !important;
  /* Définit la couleur de texte initiale */
}

.custom-size {
  font-size: 17px;
}

.custom-color:hover {
  background-color: white;
  /* Remplace avec la nouvelle couleur pour le survol */
  color: black;
  /* Remplace avec la nouvelle couleur de texte pour le survol */
}

.ff {
  background-color: #05475C;
  color: white;
  height: 250px;
}

.ff2 {
  background-color: #05475C;
  color: white;
  height: 350px;
}

.lien {
  text-decoration: none;
}

.custom-card {
  background-color: #05475C;
  color: white;
  animation: heartbeat 4s infinite;
}

.custom-footer {
  background-color: #05475C;
  color: white;
}

.vid {
  border: 1px solid;
  border-radius: 10px;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}
